.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title,
.cover__description,
.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__links-list {
  display: flex;
  gap: 32px
}

.address {
  max-width: 240px;
  justify-self: end;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  padding: 165px 50px 50px 50px;
  background-size: cover;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.capital_letters {
  text-transform: uppercase;
}
.white_text {
  color: #fff;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  padding-top: 106px;
}

.cover__description-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
}

.bet-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  background: transparent;
  padding: 12px 32px 11px 31px;
  border: 1px solid #fff;
  cursor: pointer;
}

.lots {
  padding: 180px 24px 120px 24px;
}

.lots__heading {
  padding: 0 0 27px 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  }

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  list-style: none;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  background-position: center;
  padding: 48px 40px 40px 48px;
}

.card__title {
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.card__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lots__look-more-link {
  padding-left: 40px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 49px;
  margin-bottom: 180px;
}


.about__logo {
  background-color: #000000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 0 0 70px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 136px 0 75px 0;
}

.about__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.about__column {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.footer {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 265px 164px 240px;
  height: 180px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  height: 40px;
  width: 48px;
}
